.DS_Store

# Diese Dateien werden beim kompilieren erzeugt:
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls*
*.out
*.run.xml
*.sub
*.suc
*.syc
*.sym
*.synctex.gz
*.toc

# IDEs
.texpadtmp/

# Git credentials and config
.git-credentials
.gitconfig
.gitconfig.local
.env
.env.local
.env.*.local
